<template name="home">
   <div class="container" id="columncontainer">
   
   {{#if currentUser}}

    <div class="row">
      <div class="col-md-6" id="messagessection">
        {{> messagessection}}
      </div>
      <div class="col-md-4">
        {{> faqssection}}
      </div>
      <div class="col-md-2" id="salessection">
        {{> salessection}}
      </div>
    </div> <!-- row -->
     
    <div class="row">   
      <p>
      {{> messageform}}
      </p>
    </div> <!-- row -->
    {{else}}
    <div class="well signon">Please Sign In above</div>
    {{/if}}
  </div>
  
</template>

