<template name="messageform">
        <form role="form">
        <div class="form-group col-md-9">
          <label class="sr-only" for="messagetosend">Message:</label>
          <!--<textarea class="form-control" id="messagetosend" placeholder="Type your message"></textarea>-->
          {{> editor}}
        </div>
        <div class="form-group col-md-3 messageformbuttons">
          <p>
          <button type="button" class="btn btn-{{sendbtnclass}}" id="send">{{sendbtntext}}</button><br>
          </p>
          <button type="button" class="btn btn-warning" id="savefaq">Save as FAQ</button>
        </div>
      </form>

</template>



<template name="editor">
    <div id="description">
        <button type="button" class="btn btn-primary btn-xs" id="edit-btn" style="float: right; display: none;" title="Edit mode"><i class="fa fa-edit" id="edit-btn-icon"></i></button>
        <button type="button" class="btn btn-primary btn-xs" id="preview-btn" style="float: right;" title="Preview mode"><i class="fa fa-eye" id="preview-btn-icon"></i></button>
       
        <div class='wmd-panel'>
            <div class="wmd-button-bar" id="wmd-button-bar"></div>
            <div class="wmd-preview" id="wmd-preview" tabindex="4" style="display: none;">
            </div>
            <!-- <textarea class='wmd-input' id="wmd-input"></textarea> -->
          <textarea class="form-control wmd-input" id="wmd-input" placeholder="Type your message"></textarea>
          
          
          <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#tips">tips</button>

          <div id="tip" class="collapse">
            <ul>
              <li>Use 'Markdown' to format your Message - see <a href="http://www.codecademy.com/courses/web-intermediate-en-Bw3bg/0/1">this online Markdown course</a> or <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">this cheatsheet</a></li>
              <li>Do NOT paste from MS Word!</li>
            </ul>
          </div>
          
          
          
    
        </div>
        
    </div>
</template>
