<template name="messagessection">
     <h3>Messages</h3>

     <div class="scrolldiv" id>
       {{#each messages}}
         {{>message}}
       {{/each}}
     </div>
     
</template>



<template name="message">
  <div class="row messagerow">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12 col-md-12 messageheader">
          {{createAtMoment}} - {{originator}} said:
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-md-12">
          {{{formattedMessage}}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-11 col-md-5 col-md-offset-6 recipient messagefooter">
           to {{recipient}}
        </div>
        <div class="col-xs-1 col-md-1 messagefooter">
          {{#if isMine}}
           <span class="glyphicon glyphicon-remove delete"></span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>