<template name="salessection">
  <h3>Sales
  <button type="button" class="btn btn-default" id="sell" data-toggle="tooltip" data-placement="bottom" title="Add 1 Sale"><span class="glyphicon glyphicon-plus-sign"></span></button>
  <button type="button" class="btn btn-default" id="undosell" data-toggle="tooltip" data-placement="bottom" title="Cancel 1 Sale"><span class="glyphicon glyphicon-minus-sign"></span></button>
  </h3>
  
   <div class="scrolldiv">
       {{#each usersales}}
         {{>tally}}
       {{/each}}
     </div>
</template>  



<template name="tally">
  <div class="row faqrow">
    <div class="col-md-8">
      {{username}}
    </div>
    <div class="col-md-1">
      {{sales}}
    </div>

  </div>
</template>